
<p>Nothing: <%= @nothing.no_title %> </p>


<form method="GET" action="/nothing/<%=@nothing.id%>/edit">
    <input class='btn btn-primary' type='submit' value='Edit Nothing'>
</form>

<form method="POST" action="/nothing/<%=@nothing.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Nothing">
</form>


<p>Something: <% @nothing.somethings.each do |something| %>
<%= something.some_title %>
<% end %></p>

<% @nothing.somethings.each do |something| %>
  <form method="GET" action="/something/<%=something.id%>/edit">
  <input class='btn btn-primary' type='submit' value='Edit Something'>
  </form>
<% end %>

<% @nothing.somethings.each do |something| %>
  <form method="POST" action="/something/<%=something.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete something">
  </form>
<% end %>

<br>

<form method='POST' action='/something/new'>
  <input id="hidden" type="hidden" name="nothing_id" value="<%=@nothing.id%>">
  Add Something to Nothing: <input type="text" name="some_title">
  <button type="submit" value="submit">Click Here</button>
</form>

<br></br>

<form method="get" action="/nothing">
    <button type="submit" value="submit">Home</button>
</form>

<form method="get" action="/logout">
    <button type="submit" value="submit">Log Out</button>
</form>
